BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: true
SortIncludes: true
PointerAlignment: Left
BreakStringLiterals: false
ColumnLimit: 0
PenaltyBreakString: 1000
PenaltyBreakComment: 1000